.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: light-dark(var(--light-60), var(--header-bg));
  backdrop-filter: blur(1rem);
  color: var(--header-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  border-bottom: 1px solid #fff4;

  .header-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-input {
      position: relative;
      max-width: 10rem;
      height: 2rem;
      padding: 0.5rem 3.5rem 0.5rem 1rem;
      border: 1px solid light-dark(var(--gray-alpha-40), var(--border-dark));
      border-radius: 1rem 0 0 1rem;
      background-color: var(--input-bg);
      color: light-dark(var(--text-light), var(--text-dark));
      transition: all 0.1s ease-in-out;

      &::placeholder {
        color: light-dark(var(--text-light), var(--text-dark));
        opacity: 0.7;
      }

      &:focus {
        outline: none;
        // box-shadow: inset 0 0 0 1px var(--primary-dark);
        border: 1px solid var(--primary-dark);
      }
    }

    @media (max-width: 350px) {
      .search-input {
        max-width: 8rem;
      }
    }

    .btn-search {
      position: relative;
      width: 3rem;
      height: 2rem;
      padding: 0.375rem;
      border: none;
      border-radius: 0 1rem 1rem 0;
      background: light-dark(var(--gray-alpha-40), var(--border-dark));
      cursor: pointer;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: K2D;

    .user-info {
      position: relative;
      width: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
    }

    .more-user-info {
      position: absolute;
      top: 5rem;
      right: 1rem;

      border: 1px solid var(--light-10);
      border-radius: 0.625rem;
      background: var(--bg-dark);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      hr {
        border: none;
        border-top: 1px solid var(--light-10);
        width: 100%;
      }

      .detail-info {
        position: relative;
        width: 100%;
        padding: 0.625rem 0.625rem 1rem;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: nowrap;
        gap: 0.625rem;

        .avatar {
          position: relative;
          width: 4rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }

        .info {
          position: relative;
          flex: 1;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-content: start;
          flex-direction: column;
        }
      }

      .btn-actions {
        position: relative;
        width: 100%;
        padding: 0.625rem;

        .btn {
          position: relative;
          width: 100%;
          padding: 0.625rem 1rem;
          font-size: 1rem;
          background: none;
          border: none;
          outline: none;
          transition: all 0.1s ease-in-out;

          &:hover {
            background: var(--light-10);
          }
        }
      }
    }

    .icon-btn {
      position: relative;
      width: 3rem;
      height: 2rem;
      border: none;
      border-radius: 0.5rem;
      background: light-dark(var(--gray-alpha-20), var(--border-dark));
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: var(--primary-dark);
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--text-dark);
      }
    }
  }
}
